* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%; }

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v20-latin-regular.woff2") format("woff2"), url("../fonts/lato-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v20-latin-700.woff2") format("woff2"), url("../fonts/lato-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v20-latin-900.woff2") format("woff2"), url("../fonts/lato-v20-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #102746; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px; }

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px; }

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px; }

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s liner;
  padding-bottom: 20px;
  z-index: 100; }

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px; }

.header_active {
  background: #0E1D28; }

.header__list {
  display: flex;
  flex-wrap: wrap; }

.header__item {
  margin-right: 82px; }

.header__item:last-child {
  margin-right: 0; }

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff; }
  .header__link:hover {
    opacity: 0.5;
    background: _; }
  .header__link:focus {
    opacity: 0.5;
    background: _; }
  .header__link:active {
    opacity: 0.5;
    background: _; }

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative; }

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0; }

.burger__line_first {
  top: 0; }

.burger__line_second {
  top: 50%;
  transform: translateY(-50%); }

.burger__line_third {
  bottom: 0; }

.intro {
  min-height: 100vh;
  background: url(../img/intro_bg-min.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 372px; }

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 22px;
  color: #FFFFFF; }

.intro__subtitle {
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
  color: #FFFFFF; }

.search-form__info {
  display: flex;
  flex-wrap: wrap; }

.search-form__field {
  background: transparent url("../img/svg/Oval.svg") no-repeat;
  background-size: 20px;
  width: 297px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF; }

.search-form__field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF; }

.search-form__submit {
  background: #1B7DFF;
  padding: 15px 39px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff; }
  .search-form__submit:hover {
    opacity: _;
    background: #0b55b9; }
  .search-form__submit:focus {
    opacity: _;
    background: #0b55b9; }
  .search-form__submit:active {
    opacity: _;
    background: #0b55b9; }

.benefits {
  margin-bottom: 131px; }

.benefits__wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative; }

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px; }

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: #ffffff; }

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px; }

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
  margin-top: 32px; }

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px; }

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px; }

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  background: url("../img/svg/arrow_rigth.svg") no-repeat 95% center;
  transition: .2s all; }
  .benefits__card-more:hover, .benefits__card-more:focus {
    background: url("../img/svg/arrow_rigth.svg") no-repeat right center; }

.places {
  margin-bottom: 131px; }

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px; }

.places__title {
  margin-right: 15px; }

.places_view-all {
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  background: url("../img/svg/arrow_rigth.svg") no-repeat right center; }
  .places_view-all:hover {
    opacity: 0.65;
    background: _; }
  .places_view-all:focus {
    opacity: 0.65;
    background: _; }
  .places_view-all:active {
    opacity: 0.65;
    background: _; }

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px; }

.places__card {
  position: relative;
  overflow: hidden; }
  .places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .places__card:hover .places__card-pic {
    transform: scale(1.05); }

.places__card-size-lg {
  grid-column: span 3; }

.places__card-size-sm {
  grid-column: span 2; }

.places__card-pic {
  width: 100%;
  object-fit: cover;
  height: 354px;
  transition: .15s all; }

.places__card-pic_size_sm {
  height: 283px; }

.places__card-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3; }

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4; }

.tours {
  margin-bottom: 139px; }

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px;
  align-items: center;
  margin-bottom: 77px; }

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px; }

.tour_desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px; }

.tour_more {
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  background: url("../img/svg/arrow_rigth.svg") no-repeat right center; }
  .tour_more:hover {
    opacity: 0.65;
    background: _; }
  .tour_more:focus {
    opacity: 0.65;
    background: _; }
  .tour_more:active {
    opacity: 0.65;
    background: _; }

.tour__info {
  padding-left: 47px; }

.top {
  margin-bottom: 86px; }

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 57px;
  row-gap: 57px; }

.top__title {
  margin-bottom: 54px; }

.top__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2; }

.top__card-pic {
  position: relative;
  margin-bottom: 45px; }

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 16px 25px;
  background: rgba(21, 24, 36, 0.6); }

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 0 0; }

.top__card-likes {
  padding-right: 20px;
  margin-right: 14px;
  background: url("../img/svg/heart.svg") no-repeat right center; }

.top__card-comments {
  padding-right: 23px;
  background: url("../img/svg/comment.svg") no-repeat right center; }

.top_card-desc {
  margin-bottom: 31px; }

.top__card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  color: #ffffff;
  margin: auto 0 0 0; }
  .top__card-more:hover {
    opacity: 0.65;
    background: _; }
  .top__card-more:focus {
    opacity: 0.65;
    background: _; }
  .top__card-more:active {
    opacity: 0.65;
    background: _; }

.videos {
  width: 100%; }

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative; }

.video__item {
  padding-top: 56.25%; }

.video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.footer {
  background: #0E1D28;
  padding: 119px 0; }

.footer_item {
  display: flex;
  flex-wrap: wrap; }

.footer__logo {
  width: 50%; }

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between; }

.footer__menu-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px; }

.footer__menu-link {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }
  .footer__menu-link:hover {
    opacity: 0.65;
    background: _; }
  .footer__menu-link:focus {
    opacity: 0.65;
    background: _; }
  .footer__menu-link:active {
    opacity: 0.65;
    background: _; }

@media screen and (max-width: 960px) {
  .search-form__field {
    margin-bottom: 25px; }

  .benefits__cards {
    margin-bottom: 60px; }

  .benefits__cards {
    padding: 0 15px;
    column-gap: 35px; }

  .benefits__title {
    padding: 55px 15px; }

  .benefits__wrap {
    box-shadow: none; }

  .benefits {
    margin-bottom: 75px; }

  .places__card-size-lg {
    grid-column: span 6; }

  .places__card-size-sm {
    grid-column: span 6; }

  .tours__tour {
    column-gap: 35px; }

  .tour__info {
    padding-left: 0; }

  .tour__title {
    margin-bottom: 15px; }

  .tour_desc {
    margin-bottom: 15px; }

  .top__cards {
    column-gap: 25px;
    row-gap: 55px; }

  .top__card {
    grid-column: span 3; }

  .top__card-pic {
    margin-bottom: 25px; }

  .top_card-desc {
    margin-bottom: 15px; }

  .footer {
    padding: 60px 0; } }
@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 25px; }
    .section-title::after {
      width: 78px; }

  .header__burger {
    display: block; }

  .header__wrapper {
    padding-top: 28px; }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear; }
    .header__nav_active {
      transform: translateX(0); }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px; }
    .header__item:last-child {
      margin-bottom: 0; }

  .header__link {
    font-size: 42px;
    line-height: 48px; }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11; }

  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%; }
    .header__nav-close-line:first-child {
      transform: translateY(-50%) rotate(45deg); }
    .header__nav-close-line:last-child {
      transform: translateY(-50%) rotate(-45deg); }

  .intro {
    padding-top: 120px; }

  .intro__title {
    font-size: 32px;
    line-height: 48px; }

  .intro__subtitle {
    font-size: 16px; }

  .search-form__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(../img/svg/Oval.svg) no-repeat left 2px; }
    .search-form__field::placeholder {
      font-size: 16px; }

  .search-form__submit {
    width: 100%; }

  .benefits {
    margin-bottom: 36px; }

  .benefits__card {
    grid-column: span 3;
    margin-bottom: 40px; }

  .benefits__card-pic {
    margin-bottom: 20px; }

  .benefits__card-title {
    margin-bottom: 12px; }

  .benefits__card-desc {
    margin-bottom: 20px; }

  .places {
    margin-bottom: 76px; }

  .places__card-pic_size_lg, .places__card-pic_size_sm {
    height: 230px; }

  .places_view-all {
    margin-bottom: 25px; }

  .places__caption {
    margin-bottom: 0; }

  .tours {
    margin-bottom: 76px; }

  .tour__pic, .tour__info {
    grid-column: span 2; }

  .tour__pic {
    margin-bottom: 12px; }

  .tour__pic_mob-first {
    grid-row-start: -1; }

  .tours__tour {
    margin-bottom: 50px; }

  .top {
    margin-bottom: 76px; }

  .top__card {
    grid-column: span 6; }

  .top__card-stats {
    max-width: 386px; }

  .footer__logo {
    width: 100%;
    margin-bottom: 12px; }

  .footer__nav {
    width: 100%; } }
@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px; } }
